.b {
    background-color: yellow;
}
h2 {
    border: solid purple;
    color: red;
}
div span p{
    background-color: blue;
}
.a {
    background-color: green;
}
#a {
    color: pink;
}
#b{
    background-color: yellow;
}