*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    height: 200vh;
}

.main{
    position: relative;
}

.main .class1{
    background-color: black;
    width: 200vh;
    height: 5vh;
    position: fixed;
}

.main .class2{
    background-color: rgb(189, 23, 23);
    width: 200vh;
    height: 20px;
    padding-top: 400px;
    
    
}