.sec1 {
    height: 700px;
    background-image: url(../../../components/images/hero_2.jpg);
    background-size: cover;
    background-position: center;

    #container {
        max-width: 1200px;
        margin: 0 auto;
        .all{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 500px;

            h1 {
                color: white;
                font-size: 80px;
                margin: 0;
            }

            p {
                color: white;
                font-size: 22px;
                margin: 0;
            }
        }
    }
}
